				@font-face {
					font-family: 'avantt';
					src: url('https://escobarmirko.github.io/AMeLT/wp-content/uploads/useanyfont/2377Avantt.woff2') format('woff2'),
						url('https://escobarmirko.github.io/AMeLT/wp-content/uploads/useanyfont/2377Avantt.woff') format('woff');
						  font-display: auto;
				}

				.avantt{font-family: 'avantt' !important;}

				.et_gf_avantt{background:none !important;font-family:avantt;text-indent:0 !important;font-size:25px;}

		