				@font-face {
					font-family: 'avantt';
					src: url('https://escobarmirko.github.io/AMeLT/wp-content/uploads/useanyfont/2377Avantt.woff2') format('woff2'),
						url('https://escobarmirko.github.io/AMeLT/wp-content/uploads/useanyfont/2377Avantt.woff') format('woff');
					  font-display: auto;
				}

				.avantt{font-family: 'avantt' !important;}

						h1, h2, h3, h4, h5, h6, .entry-title, body.single-post .entry-title, body.page .entry-title, body.category .entry-title, .widget-title, .site-title, .site-description, body, p, blockquote, li, a, strong, b, em, .menu-menu-terminos-y-condiciones-container li a, .menu-menu-terminos-y-condiciones-container li span, #menu-menu-terminos-y-condiciones li a, #menu-menu-terminos-y-condiciones li span, .menu-menu1-container li a, .menu-menu1-container li span, #menu-menu1 li a, #menu-menu1 li span{
					font-family: 'avantt' !important;
				}
		